<nav class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to "Home 🥖", root_path %>
  </div>
  <div class="flex-none">
    <% if Current.user %>
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to "My Bakery", my_bakery_path %></li>
        <li>
          <details>
            <summary>Settings</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li>
                <%= button_to "Log out", sign_out_path, method: :delete, class: 'link' %>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    <% else %>
      <%= link_to "Sign in", sign_in_path, class: 'link' %>
    <% end %>
  </div>
</nav>
