<!--TODO Allow for all themes one day? https://daisyui.com/components/theme-controller/#theme-controller-using-a-dropdown -->
<label class="swap swap-rotate">
  <!-- this hidden checkbox controls the state -->
  <input type="checkbox" class="theme-controller" value="wireframe"/>

  <%= icon "moon", class: 'swap-off fill-current h-6 w-6' %>

  <%= icon "sun", class: 'swap-on fill-current h-6 w-6' %>
</label>
